@charset "UTF-8";
:root {
  --primary-color: blue;
  --dark-blue-color: #1b4668;
  --danger-color: red;
  --success-color: green;
  --warning-color: yellow;
  --dark-color: black;
  --white-color: white;
  --secondary-color: gray;
}

:root {
  --z-index--1: -1;
  --z-index-1: 1;
  --z-index-100: 100;
  --z-index-150: 150;
}

/* 以下ログインページのスタイル */

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
}

.login-page {
  width: 92%;
  margin: 0 auto;
}

.form-wrapper {
  padding: 5%;
}

.form-title {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
}

.form-button:hover {
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  transform: translate(2px, -4px);
  transition: 0.2s;
}

/* game */

.hamburger-game-wrapper {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hamburger-game-wrapper {
    flex-direction: row;
    height: 100vh;
  }
}

.hamburger-game_btn-wrapper {
  top: 1%;
  left: 1%;
  z-index: var(--z-index-100);
}

.hamburger-game_btn:hover {
  transform: scale(1.2);
}

/* left */

@media screen and (min-width: 768px) {
  .hamburger-game_left {
    max-width: 480px;
  }
}

.hamburger-game_img-wrapper {
  margin: 0 auto;
  padding: 0 8px;
}

.hamburger-game_img {
  cursor: pointer;
  object-fit: contain;
}

/* right */

.hamburger-game_user-info-item {
  width: 144px;
  overflow-x: scroll;
  white-space: nowrap;
}
@media screen and (min-width: 880px) {
  .hamburger-game_user-info-item {
    width: 184px;
  }
}

.hamburger-game_shop_list {
  max-height: 400px;
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.hamburger-game_shop_item {
  cursor: pointer;
  width: 98%;
  margin: 0 auto;
}

.hamburger-game_shop_item:hover {
  transform: scale(1.01);
  transition: 0.2s;
  transform: translate(2px, -2px);
  opacity: 0.8;
}

.hamburger-game_shop_img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
@media screen and (min-width: 1080px) {
  .hamburger-game_shop_img {
    width: 120px;
    height: 120px;
  }
}

/* modal */

.hamburger-game_modal-wrapper {
  width: 92%;
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-index-150);
  overflow-y: scroll;
  overscroll-behavior: contain;
}

.hamburger-game_modal_input {
  max-width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hamburger-game_modal_input {
    max-width: 400px;
  }
}

.hamburger-game_modal_btn:hover {
  transform: scale(1.2);
}

/* スクロールバー非表示 */

.hamburger-game_user-info-item,
.hamburger-game_shop_list,
.hamburger-game_modal-wrapper {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hamburger-game_user-info-item::-webkit-scrollbar,
.hamburger-game_shop_list::-webkit-scrollbar,
.hamburger-game_modal-wrapper::-webkit-scrollbar {
  display: none;
}
